/ryan-levick/kvstore/target
/ryan-levick/myvec/target
/lets-get-rusty/rust-lang-book/target
/lets-get-rusty/rust-lang-book/others/chapter-7/crate/target
/lets-get-rusty/rust-lang-book/others/chapter-7/restaurant/target
