/exercism/target
/ryan-levick/kvstore/target
/ryan-levick/myvec/target
/ryan-levick/threadpool/target
/ryan-levick/lifetimes/target
/jon-gjengset/lifetimes/target
/lets-get-rusty/rust-lang-book/target
/lets-get-rusty/rust-lang-book/others/chapter-7/crate/target
/lets-get-rusty/rust-lang-book/others/chapter-7/restaurant/target
/lets-get-rusty/rust-lang-book/others/chapter-11/adder/target
/lets-get-rusty/rust-lang-book/others/chapter-12/minigrep/target
/practise/theory/traits/aggregate/target
/practise/theory/traits/aggregate/Cargo.lock
/practise/theory/asynchronous/target
/practise/theory/asynchronous/Cargo.lock
/practise/playground/echo-play/echo*/target
/practise/playground/echo-play/echo*/Cargo.lock
/practise/playground/tcp-socket/target
/practise/playground/tcp-socket/Cargo.lock
/practise/playground/poll/client/target
/practise/playground/poll/client/Cargo.lock
/practise/playground/poll/server/target
/practise/playground/poll/server/Cargo.lock
/practise/playground/my-redis/target
/practise/playground/my-redis/Cargo.lock
/practise/playground/grpc-demo/v1/target
/practise/playground/grpc-demo/v1/Cargo.lock
/practise/playground/grpc-demo/v2/target
/practise/playground/grpc-demo/v2/Cargo.lock
/practise/playground/grpc-demo/src/store.rs
/practise/playground/secure-hyper/target
/practise/playground/secure-hyper/Cargo.lock
/practise/playground/tls/tlsclient/target
/practise/playground/tls/tlsclient/Cargo.lock
/practise/playground/tls/tlsserver/target
/practise/playground/tls/tlsserver/Cargo.lock
/practise/playground/warp-websocket-server/target
/practise/playground/warp-websocket-server/Cargo.lock
/practise/playground/nostr-backup/Cargo.lock
/practise/playground/nostr-backup/target
/practise/playground/nostr-backup/backup.json

# IGNORE FREE PLAYGROUND
/free
